<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mb-16">
    <h1 class="mb-2 text-2xl">PERSONAL ONLINE</h1>
    <swiper-container [slidesPerView]="1.5" [freeMode]="true" [spaceBetween]="15">
      <swiper-slide *ngFor="let i of [].constructor(10)"><app-card></app-card></swiper-slide>
    </swiper-container>
  </div>

  <div class="mb-16">
    <h1 class="mb-2 text-2xl">PROGRAMAS</h1>
    <swiper-container [slidesPerView]="1.5" [freeMode]="true" [spaceBetween]="15">
      <swiper-slide *ngFor="let i of [].constructor(10)"><app-card></app-card></swiper-slide>
    </swiper-container>
  </div>

  <div class="mb-16">
    <h1 class="mb-2 text-2xl">CONTEÚDOS</h1>
    <swiper-container [slidesPerView]="1.5" [freeMode]="true" [spaceBetween]="15">
      <swiper-slide *ngFor="let i of [].constructor(10)"><app-card></app-card></swiper-slide>
    </swiper-container>
  </div>
</ion-content>